.h1 {
  margin-bottom: 20px;
  color: aquamarine;
}

.h2 {
  text-align: center;
  font-family: Lato, sans-serif;
  font-size: 6em;
  margin: 0;
  position: absolute;
}
.p {
  color: rgb(17, 65, 107);
}
.header {
  font-family: Lato, sans-serif;
  font-weight: 100;
  color: #a18a6e;
  font-size: 8em;
  margin-bottom: 50px;
  padding-top: 10px;
  text-shadow: 5px 5px #6b5b49;
}
.background {
  background-image: url('./img/v1051-30b.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  width: 100%;
  height: 100vh;
  text-align: center;
}

.select-wrapper {
  margin-bottom: 20px;
  border-radius: 7px;
}

.select-wrapper :hover,
.select-wrapper :focus {
  cursor: pointer;
  color: antiquewhite;
  background-color: #6b5b49;
}
.hidden {
  display: none;
}

img {
  display: block;
}

.loader {
  width: 48px;
  height: 48px;
  border-radius: 50%;
  position: relative;
  animation: rotate 1s linear infinite;
}
.loader::before,
.loader::after {
  content: '';
  box-sizing: border-box;
  position: absolute;
  inset: 0px;
  border-radius: 50%;
  border: 5px solid #6b5b49;
  animation: prixClipFix 2s linear infinite;
}
.loader::after {
  border-color: #ff3d00;
  animation: prixClipFix 2s linear infinite, rotate 0.5s linear infinite reverse;
  inset: 6px;
}

@keyframes rotate {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

@keyframes prixClipFix {
  0% {
    clip-path: polygon(50% 50%, 0 0, 0 0, 0 0, 0 0, 0 0);
  }
  25% {
    clip-path: polygon(50% 50%, 0 0, 100% 0, 100% 0, 100% 0, 100% 0);
  }
  50% {
    clip-path: polygon(50% 50%, 0 0, 100% 0, 100% 100%, 100% 100%, 100% 100%);
  }
  75% {
    clip-path: polygon(50% 50%, 0 0, 100% 0, 100% 100%, 0 100%, 0 100%);
  }
  100% {
    clip-path: polygon(50% 50%, 0 0, 100% 0, 100% 100%, 0 100%, 0 0);
  }
}

.loader-container {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.cat-info {
  display: flex;
  align-items: center;
}

.cat-container {
  display: flex;
  align-items: center;
  max-width: 1200px;
  margin: 50px auto;
}

.cat-info-container {
  font-family: Lato, sans-serif;
  font-weight: 400;
  text-align: start;
  margin-left: 50px;
  color: antiquewhite;
  background-color: #6b5b49;
  border: 3mm ridge #6b5b49;
  padding: 20px;
  min-width: 480px;
}
.cat-container img {
  max-width: 600px;
  height: auto;
  border: 3mm ridge #6b5b49;
}
